<!-- <div class="page-title">
  <div class="title_left">
      <h3>Plain Page</h3>
  </div>
  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div> -->
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Contenido</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <div class="col-md-8 col-sm-8 col-xs-12">

          <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="" role="tab" data-target="#comments-tab" aria-expanded="true" data-toggle="tab">Comentarios</a>

                            
                       
              </li>
              <li role="presentation" class="">
                <a href="" role="tab" data-target="#profile-tab"  aria-expanded="false" data-toggle="tab">Checklist</a>
              </li>
            </ul>

            <div id="myTabContent" class="tab-content">
              <div role="tabpanel" class="tab-pane fade active in" id="comments-tab" aria-labelledby="comment-tab" >
                <!--<h4>Comentarios</h4>-->
                <!-- user messages -->
                <ul class="messages">
                  <li ng-if="allComments.length > 0" ng-repeat="comment in allComments">
                    <img src="images/img.jpg" class="avatar" alt="Avatar">
                    <div class="message_date">
                      <h3 class="date text-info">{{comment.creation_date |  moment:'DD'}}</h3>
                      <p class="month">{{comment.creation_date |  moment:'MMM'}}</p>
                    </div>
                    <div class="message_wrapper">
                      <h4 class="heading">{{comment.user.first_name}} {{comment.user.last_name}} {{comment.user}}</h4>
                      <blockquote ng-bind-html="comment.comment | rawHtml" class="message"></blockquote>
                      <br />
                      <p class="url" ng-show="comment.docfile">
                          <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                          <a href="{{comment.docfile}}"><i class="fa fa-paperclip"></i> {{comment.docfile | lastWord}} </a>
                      </p>
                    </div>
                  </li>
                  <li ng-if="allComments.length === 0" style="list-style-type:none;">
                    <div class="message_wrapper text-center">
                      <h6>No se encontraron comentarios para esta tarea.</h6>
                      <br />
                    </div>
                  </li>
                </ul>
                <!-- end of user messages -->

                <form name="form" ng-submit="newComment(form)">
                  <div class="form-group" >
                    <div text-angular ng-model="cm.comment" name="comment"></div>
                    <input file-model="cm.docfile" name="docfile" type="file" class="btn">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-default btn-sm" type="submit">Comentar</button>
                  </div>
                </form>
                <!-- paginado -->    
                <div ng-show="allComments.length > 0">
                  <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm default" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()" items-per-page="5">
                  </uib-pagination>
                </div>
                <!-- /paginado -->
              </div>
              <div role="tabpanel" class="tab-pane fade" id="profile-tab" aria-labelledby="profile-tab">
                <!-- /checklist-tab -->
                <div ng-controller="todoController" class="wrapper-md">
                  <div>
                    <form ng-submit="addTodo()" id="todo-form" class="ng-pristine ng-valid">
                      <input ng-model="description" placeholder="Tarea a realizar" autofocus="" class="form-control input-lg ng-pristine ng-valid ng-touched" tabindex="0" aria-invalid="false">
                    </form>
                  </div>
                  <div aria-hidden="false" class="">
                    <ul class="nav nav-pills">
                      <li ui-sref-active="active">
                        <a ng-click="statusFilter = {}">Todas</a>
                      </li>
                      <li ui-sref-active="active">
                        <a ng-click="statusFilter = {done: false}">Activas</a>
                      </li>
                      <li ui-sref-active="active">
                        <a ng-click="statusFilter = {done: true}">Completas</a>
                      </li>
                    </ul>
                    <ul class="to_do">
                      <li ng-show="todoTasks !== []" ng-repeat="todo in todoTasks | filter:statusFilter track by $index">
                        <p>
                          <input ng-model="todo.done" ng-change="doneTodo(todo.id)" type="checkbox"> 
                          {{todo.description}}
                        </p>
                      </li>
                    </ul> 
                  </div>
                  <div ng-if="todoTasks.length === 0" class="streamline b-l m-b">
                    <div class="sl-item b-danger b-l">
                      <div class="m-l">
                        <p>No se encontraron tareas.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /checklist-tab -->
              </div>
            </div>
          </div>
        </div>
        <!-- start project-detail sidebar -->
        <div class="col-md-4 col-sm-4 col-xs-12">
            <section class="panel" id="proj-panel">
                <div class="x_title" id="proj-title">
                    <h2>Descripcion del proyecto</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <h3 class="green">{{task.title}}</h3>
                  <p>{{task.description}}</p>
                  <div class="project_detail">
                    <p class="title">Referente</p>
                    <p>{{task.client}}</p>
                    <p class="title">Asociado</p>
                    <p>{{task.user}}</p>
                  </div>
                  <br />
                  <div class="text-center mtop20">
                    <button ng-click="doneTask()" class="btn btn-sm btn-info">Cerrar tarea</a>
                    <button ng-click="deleteTask()" class="btn btn-sm btn-danger">Borrar tarea</a>
                  </div>
                  <div class="ln_solid"></div>
                  <h5><u>Adjuntos</u></h5>
                  <ul class="list-unstyled project_files">
                    <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                    </li>
                    <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                    </li>
                    <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                    </li>
                    <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                    </li>
                    <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                    </li>
                  </ul>
                  <br />
                </div>
            </section>
        </div>
        <!-- end project-detail sidebar -->
      </div>
    </div>
  </div>
</div>
<script src="js/bootstrap.min.js"></script>

<!-- chart js -->
<script src="js/chartjs/chart.min.js"></script>
<!-- bootstrap progress js -->
<script src="js/progressbar/bootstrap-progressbar.min.js"></script>
<script src="js/nicescroll/jquery.nicescroll.min.js"></script>
<!-- icheck -->
<script src="js/icheck/icheck.min.js"></script>

<script src="js/custom.js"></script>

<!-- PNotify -->
<script type="text/javascript" src="js/notify/pnotify.core.js"></script>
<script type="text/javascript" src="js/notify/pnotify.buttons.js"></script>
<script type="text/javascript" src="js/notify/pnotify.nonblock.js"></script>
