<div class="app-content-body app-content-full h-full">
  <div class="hbox hbox-auto-xs hbox-auto-sm bg-light" ng-controller="clientController">
    <!-- 1er columna -->
    <div class="col w b-r">
      <div class="vbox">
        <div class="row-row">
          <div class="cell scrollable hover">
            <div class="cell-inner">
              <div class="list-group no-radius no-border no-bg m-b-none">
                <a ng-click="vm.selectedOrg = null" class="list-group-item b-b">Todos las organizaciones</a>
                <a ng-click="vm.selectedOrg = org.id" ng-repeat="org in organizations" class="list-group-item hover-anchor b-a no-select" ng-class="{'focus': vm.selectedOrg === org.id}">
                  <span class="block">{{org.name}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /columna -->
    <!-- 2da column -->
    <div class="col w-lg lter b-r">
      <div class="vbox">
        <div class="wrapper-xs b-b">
          <div class="input-group m-b-xxs">
            <span class="input-group-addon input-sm no-border no-bg">
              <i class="fa fa-search"></i>
            </span>
            <input type="text" class="form-control input-sm no-border no-bg text-md ng-pristine ng-untouched ng-valid" placeholder="Buscar contacto" ng-model="searchText" tabindex="0" aria-invalid="false">
          </div>
        </div>
        <div class="row-row">
          <div class="cell scrollable hover">
            <div class="cell-inner">
              <div class="m-t-n-xxs">
                <div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
                  <!-- cliente en organizacion -->
                  <a ng-click="getClient(client.id)" ng-repeat="client in clients | orderBy:'lastname' | filter: (vm.selectedOrg || '') && {organization: vm.selectedOrg} | filter:{$:searchText}" class="list-group-item">
                    <span class="block text-ellipsis text-md">
                      {{client.name}} {{client.lastname}}
                    </span>
                  </a>
                  <!-- /cliente en organizacion -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /columna -->

  <!-- 3er columna -->
  <div class="col bg-white-only">
    <div class="vbox">
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-lg">
              <div class="hbox h-auto m-b-lg">
                <div class="col text-center w-sm">
                  <div class="thumb-lg avatar inline">
                    <img aria-hidden="false" class="" ng-src="./index2_files/user.jpg" src="./index2_files/user.jpg">
                  </div>
                </div>
                <div class="col v-middle h1 font-thin">
                  <div class="ng-binding" aria-hidden="false">{{client.name}} {{client.lastname}}</div>
                </div>
              </div>
              <!-- fields -->
              <div class="form-horizontal">
                <div class="form-group m-b-sm" aria-hidden="false">
                  <label class="col-sm-3 control-label">Direccion</label>
                  <div class="col-sm-9">
                    <p class="form-control-static">{{client.address}}</p>
                  </div>
                </div>
                <div class="form-group m-b-sm" aria-hidden="false">
                  <label class="col-sm-3 control-label">Telefono</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" aria-hidden="false">{{client.telephone}}</p>
                  </div>
                </div>
                <div class="form-group m-b-sm" aria-hidden="false">
                  <label class="col-sm-3 control-label">Mail</label>
                  <div class="col-sm-9">
                    <p class="form-control-static" aria-hidden="false">{{client.mail}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /columna -->
</div>