<!-- sub header -->
<div class="bg-light lter b-b wrapper-md">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h1 class="m-n font-thin h3 text-black">Detalle de tarea</h1>
      <small class="text-muted">{{task.title}}</small>
    </div>
  </div>
</div>
<!-- sub header -->

<div class="wrapper-md">
  <!-- history -->
  <div class="panel wrapper">
    <div class="row">
      <div class="well m-t bg-info dker lt">
        <div class="row">
          <div class="col-xs-12">
            <strong>{{task.title}}</strong>
            <p>
              Descripcion : {{task.description}}<br>
              Fecha de inicio : {{task.start_date}}<br>
              Fecha de finalizacion : {{task.finish_date}}<br>
              Horas estimadas : {{task.estimation_hours}}<br>
            </p>
          </div>
        </div>
      </div>

      <div class="m-b text-md">Comentarios</div>
      <div class="streamline b-l m-b">
        <div ng-if="allComments.length > 0" ng-repeat="comment in allComments" class="sl-item b-success b-l">

          <a herf="" class="list-group-item clearfix">
            <span class="pull-left thumb-sm avatar m-r">
              <img src="./index2_files/user.jpg">
              <i class="on b-white right"></i>
            </span>
            <span class="clear">
              <span>{{comment.user.first_name}} {{comment.user.last_name}} - {{comment.creation_date | date:'dd/MM/yy HH:mm:ss'}}</span>
              <small class="text-muted clear text-ellipsis">
                {{comment.comment}}
              </small>
            </span>
          </a>
        </div>

        <div ng-if="allComments.length === 0"class="sl-item b-danger b-l">
          <div class="m-l">
            <p>No se encontraron comentarios para esta tarea.</p>
          </div>
        </div>
      </div>
      
      <div>
        <div class="form-group">
          <textarea id="comment" class="form-control" ng-model="cm.comment" rows="3" placeholder="Comentario"></textarea>
        </div>
        <div class="form-group">
          <button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="newComment(cm)"><i class="fa fa-plus"></i>Comentar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / history -->




