<!-- sub header -->
<div class="bg-light lter b-b wrapper-md">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h1 class="m-n font-thin h3 text-black">Detalle de tarea</h1>
      <small class="text-muted">{{task.title}}</small>
    </div>
  </div>
</div>
<!-- sub header -->

<div class="wrapper-md">
  <!-- history -->
  <div class="panel wrapper">
    <div class="row no-margin">
      <div class="well m-t bg-info dker lt">
        <div class="row">
          <div class="col-xs-12">
            <strong>{{task.title}}</strong>
            <p>
              Descripcion : 
              <a href="#" editable-text="task.description" onaftersave="updateTask()">{{task.description}}</a><br>
              Fecha de inicio : 
              <a href="#" editable-bsdate="task.start_date" e-datepicker-popup="dd-MMMM-yyyy" onaftersave="updateTask()">{{task.start_date}}</a><br>
              Fecha de finalizacion : 
              <a href="#" editable-bsdate="task.finish_date" e-datepicker-popup="dd-MMMM-yyyy" onaftersave="updateTask()">{{task.finish_date}}</a><br>
              Horas estimadas : 
              <a href="#" editable-text="task.estimation_hours" onaftersave="updateTask()">{{task.estimation_hours}}</a><br>
            </p>
          </div>
        </div>
      </div>

      <div class="m-b text-md">Comentarios</div>
      <div class="streamline b-l m-b"  infinite-scroll="addMoreItems()">
        <div ng-if="allComments.length > 0" ng-repeat="comment in allComments" class="sl-item b-success b-l">
          <div class="m-l">
            <div class="text-muted">{{comment.creation_date |  moment:'lll'}} - 
              {{comment.user.first_name}} {{comment.user.last_name}}</div>
            <p>{{comment.comment}}</p>
          </div>
        </div>
		
		

        <div ng-if="allComments.length === 0"class="sl-item b-danger b-l">
          <div class="m-l">
            <p>No se encontraron comentarios para esta tarea.</p>
          </div>
        </div>
      </div>

	     <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" 
       class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()" items-per-page="5"></uib-pagination>

      </br>
      <div>
        <div class="form-group">
          <textarea id="comment" class="form-control" ng-model="cm.comment" rows="3" placeholder="Comentario"></textarea>
        </div>
        <div class="form-group">
          <button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="newComment(cm)"><i class="fa fa-plus"></i>Comentar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / history -->