
<div class="bg-light lter b-b wrapper-md">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h1 class="m-n font-thin h3 text-black">Inicio</h1>
      <small class="text-muted">Lista de tareas</small>
    </div>
  </div>
</div>
<!-- sub header -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" ng-controller="modalController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nueva tarea</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="title">Titulo :</label>
              <input required type='text' class="form-control" ng-model="task.title" id="title">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="clientSelect">Cliente :</label>
              <select name="singleSelect" id="clientSelect" ng-model="task.clientId" class="form-control">
                <option ng-repeat="option in clients" value="{{option.id}}">{{option.name}} {{option.lastname}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="turnover_code">Codigo de turnover :</label>
              <input type='text' class="form-control" ng-model="task.turnover_code" id="turnover_code">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="priority">Prioridad :</label>
              <input type='text' class="form-control" ng-model="task.priority" id="priority">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="urgency">Urgencia :</label>
              <input type='text' class="form-control" ng-model="task.urgency" id="urgency">
            </div>
        </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="estimation_hours">Horas estimadas:</label>
              <input type='text' class="form-control" ng-model="task.estimation_hours" id="estimation_hours">
            </div>
          </div>
        </div>  
          <div class="row">
            <div class="col-xs-6">  
              <div class="form-group">
                <label for="finish_date">Fecha de finalizacion :</label>
                <input type="text" class="form-control" ng-model="task.finish_date" jqdatepicker id="finish_date"/>
              </div>
            </div>
            <div class="col-xs-6">  
              <div class="form-group">
                <label for="start_date">Fecha de comienzo :</label>
                <input type='text' class="form-control" ng-model="task.start_date" jqdatepicker id="start_date">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6"> 
              <div class="form-group">
                <label for="description">Descripcion :</label>
                <input type='text' class="form-control" ng-model="task.description" id="description">
              </div>
            </div> 
            <div class="col-xs-6"> 
              <div class="form-group">
                <label for="sar">Sar :</label>
                <input type='text' class="form-control" ng-model="task.sar" id="sar">
              </div>
            </div> 
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="newTask()">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-md">
  <!-- tasks -->
  <div class="panel wrapper">
    <div class="row no-margin">
      <div class="col-md-12 b-light no-border-xs">
        <a href="" class="text-muted pull-right text-lg"></a>
        <h4 class="font-thin m-t-none m-b-md text-muted">Tareas</h4>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+</button> 
        <div class=" m-b">
          <div class="m-b" ng-repeat="tdTask in tasks">
            <span class="label text-base bg-info pos-rlt m-r">
              <i class="arrow right arrow-info"></i>
              {{tdTask.finish_date}}
            </span>
            <a href="#/task/{{tdTask.id}}">{{tdTask.title}}</a>
            <div class="pull-right hidden-phone">
              <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
              <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / tasks -->
</div>