<!-- sub header -->
<div class="bg-light lter b-b wrapper-md">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h1 class="m-n font-thin h3 text-black">Detalle de tarea</h1>
      <small class="text-muted">{{task.title}}</small>
    </div>
  </div>
</div>
<!-- sub header -->

<div class="wrapper-md">
  <!-- task-detail -->
  <div class="panel wrapper">
    <div class="row no-margin">
      <div class="well m-t bg-info dker lt">
        <div class="row">
          <div class="col-xs-12">
            <strong>{{task.title}}</strong>
            <p>
              Descripcion : 
              <a href="#" editable-text="task.description" onaftersave="updateTask()">{{task.description}}</a><br>
              Fecha de inicio : 
              <a href="#" editable-bsdate="task.start_date" e-datepicker-popup="dd-MMMM-yyyy" onaftersave="updateTask()">{{task.start_date}}</a><br>
              Fecha de finalizacion : 
              <a href="#" editable-bsdate="task.finish_date" e-datepicker-popup="dd-MMMM-yyyy" onaftersave="updateTask()">{{task.finish_date}}</a><br>
              Horas estimadas : 
              <a href="#" editable-text="task.estimation_hours" onaftersave="updateTask()">{{task.estimation_hours}}</a><br>
            </p>
          </div>
        </div>
      </div>
    <button ng-click="deleteTask()" class="btn btn-sm btn-danger pull-right">Borrar tarea</button>
    <ul id="myTabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="" data-target="#comments-tab" role="tab" data-toggle="tab">Comentarios</a>
      </li>
      <li role="presentation">
        <a href="" data-target="#checklist-tab" role="tab" data-toggle="tab">Tareas</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="comments-tab">
        <!-- comments-tab --> 
        <div class="wrapper-md"> 
          <div class="form-group" >
            <textarea id="comment" class="form-control" ng-model="cm.comment" rows="3" placeholder="Comentario"></textarea>
          </div>
          <div class="form-group">
            <button class="btn m-b-xs btn-sm btn-info dk btn-addon" ng-click="newComment(cm)"><i class="fa fa-plus"></i>Comentar</button>
          </div>
          <div class="row no-margin">
            <div class="streamline b-l m-b"  infinite-scroll="addMoreItems()">
              <div ng-if="allComments.length > 0" ng-repeat="comment in allComments" class="sl-item b-success b-l">
                <div class="m-l">
                  <div class="text-muted">{{comment.creation_date |  moment:'lll'}} - 
                    {{comment.user.first_name}} {{comment.user.last_name}}
                  </div>
                  <a ng-click="deleteComment(comment.id)" class="text-muted pull-right" tabindex="0">
                    <i class="fa fa-trash-o "></i>
                  </a>
                  <p>{{comment.comment}}</p>
                </div>
              </div>
              <div ng-if="allComments.length === 0"class="sl-item b-danger b-l">
                <div class="m-l">
                  <p>No se encontraron comentarios para esta tarea.</p>
                </div>
              </div>
            </div>
            <!-- paginado -->    
            <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()" items-per-page="5">
            </uib-pagination>
            <!-- /paginado -->
          </div>
        </div>
        <!-- /comments-tab -->
      </div>
      <div role="tabpanel" class="tab-pane fade" id="checklist-tab">
        <!-- /checklist-tab -->
        <div ng-controller="todoController" class="wrapper-md">
          <div>
            <form ng-submit="addTodo()" id="todo-form" class="ng-pristine ng-valid">
              <input ng-model="description" placeholder="Tarea a realizar" autofocus="" class="form-control input-lg ng-pristine ng-valid ng-touched" tabindex="0" aria-invalid="false">
            </form>
          </div>
          <div aria-hidden="false" class="">
            <ul class="nav nav-xs nav-pills m-t m-b">
              <li ui-sref-active="active">
                <a ng-click="statusFilter = {}">Todas</a>
              </li>
              <li ui-sref-active="active">
                <a ng-click="statusFilter = {done: false}">Activas</a>
              </li>
              <li ui-sref-active="active">
                <a ng-click="statusFilter = {done: true}">Completas</a>
              </li>
            </ul>
            <ul class="list-group">
              <li ng-show="todoTasks !== []" ng-repeat="todo in todoTasks | filter:statusFilter track by $index" class="list-group-item">
                <div class="hover-anchor" aria-hidden="false">
                  <a ng-click="deleteTodo(todo.id)" class="text-muted" tabindex="0">
                    <i class="fa fa-trash-o pull-right"></i>
                  </a>
                  <label class="i-checks i-checks-sm">
                    <input ng-model="todo.done" ng-change="doneTodo(todo.id)" class="ng-pristine ng-untouched ng-valid" aria-checked="false" aria-invalid="false" type="checkbox"><i></i>
                  </label>
                  <span tabindex="0">{{todo.description}}</span>
                </div>
              </li>
            </ul>
          </div>
          <div ng-if="todoTasks.length === 0" class="streamline b-l m-b">
            <div class="sl-item b-danger b-l">
              <div class="m-l">
                <p>No se encontraron tareas.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- /checklist-tab -->
      </div>
    </div>
  </div>
</div>
<!-- / task-detail -->