<div class="container">
<br>
  <form class="form-signin" ng-submit="submit()">
    <label for="inputUsr">Usuario</label>
    <input type="text" id="inputUsr" ng-model="usr.username" class="form-control" placeholder="Usuario" required="" autofocus="">
    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword" ng-model="usr.password" class="form-control" placeholder="Password" required="">
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div> <!-- /container -->
