<!-- sub header -->
<div class="bg-light lter b-b wrapper-md">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h1 class="m-n font-thin h3 text-black">Detalle de tarea</h1>
      <small class="text-muted">{{task.title}}</small>
    </div>
  </div>
</div>
<!-- sub header -->

<div class="wrapper-md">
  <!-- task-detail -->
  <div class="panel wrapper">
    <div class="row no-margin">

      <div class="btn-group pull-right" role="group" aria-label="...">
        <button ng-click="doneTask()" class="btn btn-sm btn-info">Cerrar tarea</button>
        <button ng-click="deleteTask()" class="btn btn-sm btn-danger">Borrar tarea</button>
      </div>
      <ul id="myTabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="" data-target="#comments-tab" role="tab" data-toggle="tab">Comentarios</a>
        </li>
        <li role="presentation">
          <a href="" data-target="#checklist-tab" role="tab" data-toggle="tab">Tareas</a>
        </li>
      </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="comments-tab">
        <!-- comments-tab --> 
        <div class="wrapper-md">
          <div class="col-md-8 col-sm-8 col-xs-12">  
            <div class="row no-margin">
              <ul ng-if="allComments.length > 0" class="messages">
                <li ng-repeat="comment in allComments">
                  <div class="message_date">
                    <h3 class="date text-info">{{comment.creation_date |  moment:'DD'}}</h3>
                    <p class="month">{{comment.creation_date |  moment:'MMM'}}</p>
                  </div>
                  <div class="message_wrapper">
                    <h4 class="heading">{{comment.user.first_name}} {{comment.user.last_name}} {{comment.user}}</h4>
                    <div class="message" ng-bind-html="comment.comment | rawHtml"></div>
                    <div  class="url">
                        <a ng-click="deleteComment(comment.id)" class="text-muted" tabindex="0">
                          <i class="fa fa-trash-o "></i>
                        </a>
                        <a href="{{comment.docfile}}" ng-show="comment.docfile"> | 
                        <i class="fa fa-paperclip"></i> {{comment.docfile | lastWord}}</a> 
                    </div>
                  </div>
                </li>
              </ul>
              <div ng-if="allComments.length === 0"class="sl-item b-danger b-l">
                <div class="m-l">
                  <p>No se encontraron comentarios para esta tarea.</p>
                </div>
              </div>
            </div>
            <div>
              <!-- paginado -->    
              <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()" items-per-page="5">
              </uib-pagination>
              <!-- /paginado -->
              <form name="form" ng-submit="newComment(form)">
              <div class="form-group" >
                <div text-angular ng-model="cm.comment" name="comment"></div>
                <input file-model="cm.docfile" name="docfile" type="file" class="btn">
              </div>
              <div class="form-group">
                <button class="btn m-b-xs btn-sm btn-info dk btn-addon" type="submit"><i class="fa fa-plus"></i>Comentar</button>
              </div>
              </form>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <h3>{{task.title}}</h3>
            <p>{{task.description}}</p>
            <br>
            <div class="project_detail">
              <p class="title"><u>Cliente</u></p>
              <p>{{task.client.name}} {{task.client.lastname}}</p>
              <p class="title"><u>Project Leader</u></p>
              <p>{{task.user.first_name}} {{task.user.last_name}}</p>
            </div>
            <br>
            <h5>Archivos adjuntos</h5>
            <ul class="list-unstyled project_files">
              <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
              </li>
              <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
              </li>
              <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
              </li>
              <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
              </li>
              <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /comments-tab -->
      </div>
      <div role="tabpanel" class="tab-pane fade" id="checklist-tab">
        <!-- /checklist-tab -->
        <div ng-controller="todoController" class="wrapper-md">
          <div>
            <form ng-submit="addTodo()" id="todo-form" class="ng-pristine ng-valid">
              <input ng-model="description" placeholder="Tarea a realizar" autofocus="" class="form-control input-lg ng-pristine ng-valid ng-touched" tabindex="0" aria-invalid="false">
            </form>
          </div>
          <div aria-hidden="false" class="">
            <ul class="nav nav-xs nav-pills m-t m-b">
              <li ui-sref-active="active">
                <a ng-click="statusFilter = {}">Todas</a>
              </li>
              <li ui-sref-active="active">
                <a ng-click="statusFilter = {done: false}">Activas</a>
              </li>
              <li ui-sref-active="active">
                <a ng-click="statusFilter = {done: true}">Completas</a>
              </li>
            </ul>
            <ul class="list-group">
              <li ng-show="todoTasks !== []" ng-repeat="todo in todoTasks | filter:statusFilter track by $index" class="list-group-item">
                <div class="hover-anchor" aria-hidden="false">
                  <a ng-click="deleteTodo(todo.id)" class="text-muted" tabindex="0">
                    <i class="fa fa-trash-o pull-right"></i>
                  </a>
                  <label class="i-checks i-checks-sm">
                    <input ng-model="todo.done" ng-change="doneTodo(todo.id)" class="ng-pristine ng-untouched ng-valid" aria-checked="false" aria-invalid="false" type="checkbox"><i></i>
                  </label>
                  <span tabindex="0">{{todo.description}}</span>
                </div>
              </li>
            </ul>
          </div>
          <div ng-if="todoTasks.length === 0" class="streamline b-l m-b">
            <div class="sl-item b-danger b-l">
              <div class="m-l">
                <p>No se encontraron tareas.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- /checklist-tab -->
      </div>
    </div>
  </div>
</div>
<!-- / task-detail -->


<style>
ul.messages {
    padding: 0;
}

ul.messages li,
.tasks li {
    border-bottom: 1px dotted #e6e6e6;
    padding: 8px 0;
}

ul.messages li img.avatar,
img.avatar {
    height: 80px;
    width: 80px;
    float: left;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px;
    background: #f7f7f7;
}

ul.messages li .message_date {
    float: right;
    text-align: right;
}

ul.messages li .message_wrapper {
    margin-left: 50px;
    margin-right: 40px;
}

ul.messages li .message_wrapper h4.heading {
    font-weight: 600;
    margin: 0;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: 100%;
}

ul.messages li .message_wrapper blockquote {
    padding: 0px 10px;
    margin: 0;
    border-left: 5px solid #eee;
}

.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}

</style>