<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
		
	</head>
<body>
	<div class="wrapper-md">
	<!-- tasks -->
	<div class="panel wrapper">
		<div class="row no-margin">
		<div class="col-md-12 b-light no-border-xs">
			<a href="" class="text-muted pull-right text-lg"></a>
			<h4 class="font-thin m-t-none m-b-md text-muted">Tareas</h4>
			<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+</button> 
			<div class=" m-b">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div ng-repeat="tdTask in tasks" class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse{{tdTask.id}}">
					asd
				</a>
				</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
				<a href="#/task/{{tdTask.id}}">asd</a>
				<span class="pull-right label text-base-12 bg-primary-white pos-rlt m-r">Prioridad: {{ tdTask.priority }}</span>
				<span class="pull-right label text-base-12 bg-success-white pos-rlt m-r">Horas estimadas: {{ tdTask.estimation_hours }}
				</div>
				</div>
			</div>
			</div>
	
			</div>
		</div>
		</div>
	</div>
	<!-- / tasks -->
	</div>
	</body>
</html>